module {{.MonorepoPrefix}}/cmd/{{.Name}}

go {{.Versions.Go}}

require (
	// --- Core Kratos & DI Framework ---
	// The foundational microservice framework for servers, config, logging, etc.
	github.com/go-kratos/kratos/v2 {{.Versions.Kratos}}
	// The compile-time dependency injection tool
	github.com/google/wire {{.Versions.Wire}}

	// --- Core Communication (gRPC & Protobuf) ---
	// Essential for defining and handling gRPC services
	google.golang.org/grpc {{.Versions.Grpc}}
	// The Protobuf runtime library, required for working with any .proto-generated code
	google.golang.org/protobuf {{.Versions.Protobuf}}

	// --- Common Utilities & API Definitions ---
	// A best-practice utility for optimizing Go processes in containers
	go.uber.org/automaxprocs {{.Versions.Automaxprocs}}
	// Contains common Google API Protobuf definitions, often needed for HTTP annotations in gRPC-gateway
	google.golang.org/genproto/googleapis/api {{.Versions.Genproto}}
)
