monorepo-prefix: "{{ .MonorepoPrefix }}"
output-dir: "{{ .OutputDir }}"
versions:
  go: "{{ .Versions.Go }}"
  kratos: "{{ .Versions.Kratos }}"
  wire: "{{ .Versions.Wire }}"
  grpc: "{{ .Versions.Grpc }}"
  protobuf: "{{ .Versions.Protobuf }}"
  automaxprocs: "{{ .Versions.Automaxprocs }}"
  genproto: "{{ .Versions.Genproto }}"
